{#
/**
 * @file
 * Default theme implementation to display an outline entry.
 *
 * Available variables:
 * - url: URL of the current entry.
 * - name: Name of the current entry.
 * - content: Items for the content of the entry (fields and description).
 *   Use 'content' to print them all, or print a subset such as
 *   'content.description'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('description') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - page: Flag for the full page state.
 * - entry: The outline entry entity, including:
 *   - id: The ID of the outline entry.
 *   - bundle: Machine name of the current outline.
 * - view_mode: View mode, e.g. 'full', 'teaser', etc.
 *
 * @see template_preprocess_outline_entry()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}>
  {{ title_prefix }}
  {% if not page %}
    <h2><a href="{{ url }}">{{ name }}</a></h2>
  {% endif %}
  {{ title_suffix }}
  {{ content }}
</div>
